<% @apps.each do |app| %>

    <div>
      <%= app.position %>
    </div>

    <div>
      <%= app.title %>
    </div>

    <div>
      <%= app.category %>
    </div>

    <div>
      <%= app.link %>
    </div>

    <br>
<% end %>